@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

/*login page picture*/
.home {
    position: relative;
    width:100%;
    height:100vh;
    background:url(lectureRoom.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
}

/*login page words*/
.home .content {
    max-width:50%;
    color:#fff;
    margin-left: 50px;
}

.content p {
    margin-top: 50px;
}

.content h2 {
    font-size:2.5em;
    letter-spacing:.03em;
}

/*login form*/
.home .wrapper-login {
    position: relative;
    width: 50%;
    margin-left: 80px;
    margin-right: 80px;
}

/*login form words*/
.wrapper-login h2 {
    font-size:2em;
    color:#fff;
    text-align:center;
    margin-left: 20px;
    margin-right: 20px;
}

/*adjust the position of the form*/
.wrapper-login .input-box {
    position:relative;
    width:100%;
    height:50px;
    margin:40px 0;
}

.input-box input {
    width: 100%;
    height:100%;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 5px 0 45px;
}

/*username,password*/
.input-box label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: 5s;
}

/*when user type their username and password*/
.input-box input:focus~label,
.input-box input:valid~label {
    font-size: .8em;
    top: -14px;
    left: 17px;
}

.input-box .icon {
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: #fff;
}

/*login*/
.wrapper-login .btn {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  background:linear-gradient(90deg, #3a1609, #b3684d);  
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
  cursor:pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

/*reset*/
.resett {
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    margin: 0;
}

.reset {
    display: flex;
    justify-content: flex-end;
}